<h1>$cuisine.getCuisineType()</h1>

<ul>
  #foreach($restaurant in $cuisine.getRestaurants())
    <li><a href="/restaurants/$restaurant.getId()">$restaurant.getName()</a></li>
  #end
</ul>

<a href="/cuisines/$cuisine.getId()/restaurants/new">Add a restaurant</a>
<a href="/cuisines">Back home</a>
