<h1>$restaurant.getName()</h1>
<br>
<p>$restaurant.getDescription()</p>
<br>
<ul>
  #foreach($review in $restaurant.getReviews())
    <li>$review.getInfo()</li>
  #end
</ul>

<a href="/restaurants/$restaurant.getId()/reviews/new">Add a review</a>
<a href="/cuisines">Back home</a>
